.main_container{
    display: flex;
    width: 100%;
    /* width: 1000px; */
    height: 600px;
}


.shape_container{
    width: 630px;
    height: 850px;
    /* z-index: 100; */
    position: absolute;
    top: 0;
}
.shape_container img{
    width: 630px;
    height: 850px;
    top: 0;
}

.banner_container{
    background-color: white;
    position: absolute;
    right: 150px;
    top: 150px;
    z-index: 10;
    height: 450px;
    width: 500px;
}

.banner_container p{
    background-color: red;
}

.banner_container img{
    height: 450px;
    width: 500px;
}