body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(227, 225, 225);
}
.profile_container{
    font-family: sans-serif;
    /* border: 2px solid red; */
    display: flex;
    padding: 20px 0;
    /* justify-content: space-evenly; */
    flex-direction: column;
    align-items: center;
}
.profile_header_container{
    position: relative;
    display: flex;
    align-items: center;
    justify-self: center;
    /* border: 4px solid blue; */
    width: 95%;
}
.profile_workplace_container{
    display: flex;
    align-items: center;
    justify-self: center;
    /* border: 4px solid green; */
    width: 95%;
}

.profile_header_shadow_box{
    background-color: white;
    display: flex;
    /* margin: 30px 60px; */
    padding: 20px;
    border-radius: 25px;
    margin: 5px;
}

.profile_header{
    border: 4px solid black;
    display: flex;
    margin: 20px 60px;
    padding: 5px;
    border-radius: 25px;
}
.profile_header_img{
    height: 135px;
    width: 135px;
    border-radius: 50%;
    border: 2px solid black;
}

.profile_header_img img{
    height: 135px;
    width: 135px;
    border-radius: 50%;
}

.profile_header_title{
    /* border: 2px solid blue; */
    margin-left: 30px;
    /* padding-top: 15px; */
}

.profile_header_title_name{
    /* border: 2px solid red; */
    padding-left: 5px;
}

.profile_header_title_name h1{
    margin: 20px 0 10px 0px;
}


/* .profile_header_title_tags{
    border: 2px solid green;
} */

.profile_header_title_tags ul{
    /* border: 2px solid blue; */
    display: flex;
    padding:0px;
    list-style: none;
}

.profile_header_title_tags ul li{
    /* border: 2px solid red; */
    background-color: gray;
    color: white;
    padding: 5px 27px;
    margin: 5px 5px;
    border-radius: 25px;
}



/* WORKPLACE */

.profile_workplace{
    border: 4px solid black;
    display: flex;
    flex-direction: column;
    margin: 20px 60px;
    padding: 5px;
    border-radius: 25px;
    width: 90%;
}
/* 
.profile_workplace_current_header{
    border: 2px solid orange;
} */

.profile_workplace_current_header h3{
    /* border: 2px solid orange; */
    margin: 5px 10px;
    padding-left: 20px;
}

.profile_workplace_shadow_box{
    background-color: white;
    display: flex;
    /* margin: 30px 60px; */
    /* padding: 20px; */
    border-radius: 25px;
    align-items: center;
    justify-content: space-evenly;
    margin: 5px;
    padding: 20px 10px;
}

/* .profile_workplace_attribute{
    border: 3px solid black;
    padding: 10px 0;
} */
/* 
.profile_workplace_attribute_header{
    border: 2px solid green;
} */

/* .profile_workplace_attribute_status{
    border: 2px solid green;
} */

.profile_workplace_attribute_header h3{
    text-align: center;
    font-family: sans-serif;
}
.profile_workplace_attribute_status{
    text-align: center;
    font-family: sans-serif;
}

.logout {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.logout button{
    padding: 7px 15px;
    border: 2px solid black;
    border-radius: 10px;
}