.filter_container{
    flex: 1;
    display: flex;

}

.dropdowns{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.workplaceSearchContainer{
    display: flex;
    flex: 1;
}