.auth_container{
    /* border: 5px solid red; */
    display: flex;
    /* padding: 120px; */
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inner_auth_container{
    border: 5px solid black;
    display: flex;
    padding: 5px;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}

.shadow_box{
    /* border: 5px solid black; */
    background-color: white;
    display: flex;
    padding: 30px 60px 50px 60px;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}

.auth_header{
    font-size: 25px;
    margin-bottom: 15px;
}

.auth_subtext{
    margin: 15px;
}

.auth_para{
    /* border: 2px solid red; */
    width: 230px;
    text-align: end;
    margin: 5px;
}

.auth_subtext span{
    text-decoration: underline;
}

.auth_input{
    padding: 12px 15px;
    margin: 5px;
    width: 200px;
    border-radius: 7px;
}

.auth_button{
    background-color: rgb(154, 150, 150);
    padding: 12px 15px;
    margin-top: 15px;
    width: 234px;
    border-radius: 7px;
    font-size: 18px;
    cursor: pointer;
}

.span_hover{
    cursor: pointer;
}

.auth_close_btn{
    border: 2px solid white;
    position: absolute;
    top: 15px;
    right: 15px;outline: 0;
}

.auth_close_btn :hover{
    background-color: red;
}



